.about {
    color: #000000;
    height: 90vh;
    margin-bottom: 2.5vw;
    padding: 5vw;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.about h1{
    font-size: calc(32px + 1vw);
    font-weight: 500;
    margin-bottom: 1vw;
}

.about p{
    font-size: calc(8px + 1vw);
    font-weight: 300;
}

