.legal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.legal div button {
    font-size: 16px;
    width: 8vw;
    height: 5vh;
    margin: 1vw;
    border-radius: 12px;
    transition: all ease-in-out;
    background-color: #ffffff;
}

.legal h1 {
    font-size: calc(64px + 1vw);
    margin: 5vw;
}

.legal h2 {
    font-size: calc(16px + 1vw)
}

/* Buttons */
.legal div button:hover {
    transform: scale(1.05); 

}

.yes:hover {
    color: #1240FA;
    border: 2px solid #1240FA;
}

.no:hover {
    color: #FA1B23;
    border: 2px solid #FA1B23;
}