.beer {
    color: #000000;
    margin-bottom: 2.5vw;
    padding: 5vw;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}


.beer h1{
    font-size: calc(64px + 1vw);
    font-weight: 500;
    margin-bottom: 1vw;
}

.beer h3 {
    font-size: calc(8px + 1vw);
    font-weight: 400;
    margin-top: 1.6vw;
}

.beer p{
    font-size: calc(8px + 1vw);
    font-weight: 300;
    margin-bottom: 0.75vw;
}


