.beer {
    margin: 5vw;

}

.beer h1{
    font-size: calc(36px + 1vw);
    text-align: center;
    margin-bottom: 1.25vw;
}


.box h2{
    font-size: calc(24px + 1vw);
    margin-bottom: 1.25vw;
}

.box {
    margin-bottom: 2.5vw;
}
