.beer {
    padding: 5vw;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/beer.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Our Beers */
.beer h1{
    font-size: calc(54px + 1vw);
    text-align: center;
    margin: 3vw
}

/* Year-round / Seasonals */
.beer h2{
    font-size: calc(24px + 1vw);
    text-align: center;
}

.card {
    padding: 3vw 2.5vw;
    margin: 6vw 0
}

.card:hover{
    transform: scale(1.025); 
}

.card h3 {
    font-size: calc(5px + 1vw);
    font-weight: 500;
    margin: 2vw 0;
}

.card p {
    text-align: center;
    font-size: calc(5px + 1vw);
    margin-bottom: 1.5vw;
    color: #4D5275;
}

/* sold out */

.soldout {
    color: red
}