.beer {
    color: #000000;
    margin-bottom: 5vw;
    padding: 5vw;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.beer h2{
    margin: 1vw 0;
}

.beer h4 {
    
    margin: 1vw 0;
}

.beer span {
    color: #4D5275;
    margin: 0.05vw 0;
}

.beer p{
    margin: 1vw 0;
    
}


