.contact {
    margin: 5rem;
}

.card {
    margin: 5rem 20rem;
    padding: 2rem 4rem;


}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
