.contact{
    margin: 5vw;
}

.contact h1{
    text-align: center;
    margin: 3vw
}

.contact small{
    color: #1856AD;
}

.card {
    padding: 5vw 5vw;
}

.card h2{
    margin-bottom: 2.5vw;
    text-align: center;
}

.card h4 {
    font-size: calc(3px + 1vw);
}

.card button {
    margin-top: 3vw;;
}