.footer{
    background-color:#1856AD;
    padding: 5vw;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.footer h2{
    font-size: calc(8px+1vw);
    font-weight: 300;
}

.footer p{
    font-size: calc(4px+1vw);
}