/* Google Font 'Noto Sans 한글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  scroll-behavior: smooth;
}



h1 {
  font-size: calc(48px + 1vw);
  font-weight: 500;
  margin-bottom: 1vw;
}

h2 {
  font-size: calc(24px + 1vw);
  font-weight: 500;
}

h3 {
  font-size: calc(16px + 1vw);
  font-weight: 400;
}

h4{
  font-size: calc(12px + 1vw);
  font-weight: 400;
}

p{
  font-size: calc(7px + 1vw);
}

span{
  font-size: calc(3px + 1vw)
}

.news {
  text-align: center;
  padding: 5vw;
}

.news img {
  height: 40vh;
}