

.maps {
    width: 80%;
    height: 80%;
    margin: 10vw;
}

.description {
    padding: 10vw;
}

.description h3 {
    padding: 0 1vw;
    display: table;
    color: #fff;
    background-color: #1856AD;
    margin: 3vw 0 2vw 0;
    border: solid 0.2vw #1856AD;
    border-radius: 0.5vw;
}

.description p {
    margin-bottom: 1vw;
}
