.navbar {
    border-bottom: solid black 1px;
    background-color: #000000;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 0


}

.navbar a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    padding-right: 1.7rem;
    padding-bottom: 0.3rem;



}