.navbar {
    background-color: #fff;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 3; 


}

.navbar a{
    font-size: calc(8px + 1vw);
    text-decoration: none;
    color: #000000;
    padding-right: 1.7vw;
    padding-bottom: 0.5vw;
    transition: all ease-in-out;

}

.navbar a:hover {
    transform: scale(1.1); 
}
