.news {
    margin: 2vw 0;
    padding: 3vw 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: dotted 1px;
};

.news h2{
    text-align: center;
    margin: 1vw 0;
};

.news p{
    margin: 3vw 0;
    padding: 3vw 0;
};

.news span {
    margin: 3vw 0;
}

.news button {
    margin-top: 3vw;
}

.image{
    max-width: 100vw;
    height: auto;
}