.slideshow {
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 5vw 10vw;
}



.slideshow p {
    margin: 1vw;
}
